FALLGUARD_CONFIG=configs/mvp.yaml
FALLGUARD_MODEL_PATH=
FALLGUARD_POSE_MODEL=
FALLGUARD_WEBHOOK_URL=
FALLGUARD_ALERT_WEBHOOK=
FALLGUARD_WEBHOOK_SECRET=
FALLGUARD_MAX_UPLOAD_MB=250
FALLGUARD_TELEGRAM_BOT_TOKEN=
FALLGUARD_TELEGRAM_CHAT_ID=
FALLGUARD_TELEGRAM_CHAT_IDS=
FALLGUARD_TELEGRAM_ENABLED=true
FALLGUARD_TELEGRAM_TIMEOUT_SECONDS=8
